---
// return Astro.redirect('/all-products');
import AdBanner from '../components/AdBanner.astro';
import Layout from '../layouts/MainLayout.astro';
import BigSearchBox from '../components/BigSearchBox.astro';

import { getAllProducts } from '../content/cosmic';
import { navLinks } from '../content/page';
import FewProducts from '../components/FewProducts.astro';
import ShippingInfo from '../components/ShippingInfo.astro';
import clsx from 'clsx';
const products = await getAllProducts();
---

<Layout noBanner={true}>
	<BigSearchBox />
	<!-- big logo -->
	<img
		src="/logo.svg"
		alt="logo"
		class="w-auto lg:h-[70vh] mx-auto mt-10 mb-2"
	/>
	<AdBanner />
	<!-- {
		navLinks
			.filter((link) => link.name !== 'All')
			.map((link) => <FewProducts products={products} navLink={link} />)
	} -->

	<div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mb-5 h-full">
		{
			navLinks
				.filter((link) => !link.disabled)
				.map((navLink) => (
					<a
						href={navLink.link}
						class={clsx(
							// 'hover:scale-105 transition-transform duration-300',
							navLink.name === 'All' && 'col-span-2 lg:col-span-3 xl:col-span-4'
						)}
					>
						<div
							class={clsx(
								'rounded-xl overflow-hidden text-xl text-white shadow-md p-4 grid place-items-center',
								'relative',
								navLink.name === 'All' ? 'aspect-video' : 'aspect-square'
								// navLink.placeholderImageURL &&
								// 	`bg-cover bg-center bg-[url('${navLink.placeholderImageURL}')]`
							)}
						>
							<img
								src={navLink.placeholderImageURL}
								class="w-full h-full object-cover absolute top-0 left-0 z-10 categoryImg"
								alt=""
							/>
							<h2 class="z-20 text-2xl lg:text-6xl text-center">
								{navLink.name === 'All' ? 'All Products' : navLink.name}
							</h2>
						</div>
					</a>
				))
		}
	</div>
</Layout>

<style>
	.categoryImg {
		filter: brightness(0.4);
	}
</style>
